<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1000</key>
	<dict>
		<key>Option-1</key>
		<string>OK</string>
		<key>Suggestion</key>
		<string>Registration Successful</string>
		<key>Title</key>
		<string>Registration Successful</string>
	</dict>
	<key>1001</key>
	<dict>
		<key>Option-1</key>
		<string>Dismiss</string>
		<key>Suggestion</key>
		<string>Email is already taken.</string>
		<key>Title</key>
		<string>Registration error</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>Option-1</key>
		<string>OK</string>
		<key>Suggestion</key>
		<string>Login successful</string>
		<key>Title</key>
		<string>Login successful</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>Option-1</key>
		<string>Dismiss</string>
		<key>Suggestion</key>
		<string>Menu Items cannot be fetched now. Try again later</string>
		<key>Title</key>
		<string>Server Busy</string>
	</dict>
	<key>3000</key>
	<dict>
		<key>Option-1</key>
		<string>OK</string>
		<key>Suggestion</key>
		<string>Menu Fetch Successful</string>
		<key>Title</key>
		<string>Menu Fetch Successful</string>
	</dict>
	<key>3001</key>
	<dict>
		<key>Option-1</key>
		<string>Dismiss</string>
		<key>Suggestion</key>
		<string>Invalid Menu Item Id</string>
		<key>Title</key>
		<string>Menu Fetch Failed</string>
	</dict>
</dict>
</plist>
